*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}


.container{
    height: 100vh;
    color: white;
    display: grid;
    /* grid-template-columns: repeat(5,1fr); */
    grid-template-columns: .8fr .4fr .6fr 1.8fr 1fr ;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "box1 box2 box2 box3 box4"
    "box5 box2 box2 box3 box6"
    "box7 box8 box9 box3 box10"
    "box11 box11 box11 box3 box12";
}

.box1{
    background-color: rgb(237, 65, 88);
    grid-area: box1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    background-color: rgb(206, 58, 144);
    grid-area: box2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    background-color: rgb(223, 97, 69);
    grid-area: box3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box4{
    background-color: rgb(245, 188, 43);
    grid-area: box4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5{
    background-color: rgb(63, 104, 61);
    grid-area: box5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box6{
    background-color: rgb(76, 99, 121);
    grid-area: box6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box7{
    background-color: rgb(69, 148, 69);
    grid-area: box7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box8{
    background-color: rgb(63, 104, 61);
    grid-area: box8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box9{
    background-color: rgb(19, 204, 245);
    grid-area: box9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box10{
    background-color: rgb(52, 196, 121);
    grid-area: box10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box11{
    background-color: rgb(61, 59, 136);
    grid-area: box11;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box12{
    background-color: rgb(214, 27, 20);
    grid-area: box12;
    display: flex;
    justify-content: center;
    align-items: center;
}
